{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Doctor Log-In</title>
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
     
      <script src="{% static 'assets/js/main.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- Site Metas -->
      <title>Life Care </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Site Icons -->
      <link rel="shortcut icon" href="{% static 'assets/images/fevicon.ico.png' %}" type="image/x-icon" />
      <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main2.css' %}">
      <!-- Site CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <!-- Colors CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/colors.css' %}">
      <!-- ALL VERSION CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/versions.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
      <!-- Modernizer for Portfolio -->
      <script src="{% static 'assets/js/modernizer.js' %}"></script>
    </head>
<body>
  
 <body class="clinic_version">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'assets/images/loaders/heart-loading2.gif' %}" alt="">
      </div>
      <!-- END LOADER -->
      <header>
         <div class="header-top wow fadeIn">
            <div class="container">
               <a class="navbar-brand" href="/"><img src="{% static 'assets/images/logo.png' %}" alt="image"></a>
               <div class="right-header">
                  <div class="header-info">
                     
                     <div class="info-inner">
                        <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">info@Lifecare.com</a></span>	
                     </div>
                     <div class="info-inner">
                        <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <span class="iconcont"><a data-scroll href="#">24/7</a></span>	
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="header-bottom wow fadeIn">
            <div class="container">
               <nav class="main-menu">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                  </div>
				  
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a data-scroll href="#about">About us</a></li>
                    
                     </ul>
                  </div>
               </nav>
           
            </div>
         </div>
      </header>



      <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('{% static "assets/images/slider-bg.png" %}' );">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12">
                
                <h2>
                  <span class="center"><span class="icon"><img src="{% static 'assets/images/icon-logo.png' %}" alt="#" /></span></span>
                  <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Life Care", "Login to continue!", "We are Experts!" ]'>
                  <span class="wrap"></span>
                  </a>
                </h2>
                <div class="limiter">
                  <div class="container-login100" >
                    <div class="wrap-login100">
                      <form class="login100-form validate-form" method = 'post'>
                        {% csrf_token %}
                        <span class="login100-form-title p-b-34 p-t-27">
                           DOCTOR Log in
                          </span>
              
              
                        <div class="wrap-input100 validate-input" data-validate = "Enter username">
                          <input class="input100" type="text" name="username" placeholder="Username">
                          <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
              
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                          <input class="input100" type="password" name="password" placeholder="Password">
                          <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
              
                        <div></div>
              
                        <div class="container-login100-form-btn">
                          <button class="login100-form-btn" formaction = '/account/Doclogin'>
                            Login
                          </button>
                        </div>

                        <div class="wrap-input100 validate-input">
                           {% for msg in messages %}
                           <h5>{{msg}}</h5>
                           {% endfor %}
                         </div>
              
                        <div class="text-center p-t-90">
                          <a class="txt1" href="#">
                            Forgot Password?
                          </a>
                        </div>
                     </form>
                    </div>
                  </div>
                </div>
            </div>

               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>

  


      <footer id="footer" class="footer-area wow fadeIn">
        <div class="container">
           <div class="row">
              <div class="col-md-4">
                 <div class="logo padding">
                    <a href=""><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                    <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche artisan.</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="footer-info padding">
                    <h3>CONTACT US</h3>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                    <p><i class="fa fa-paper-plane" aria-hidden="true"></i> info@gmail.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> (+1) 800 123 456</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="subcriber-info">
                    <h3>SUBSCRIBE</h3>
                    <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                    <div class="subcriber-box">
                       <form id="mc-form" class="mc-form">
                          <div class="newsletter-form">
                             <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                             <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button> 
                             <div class="clearfix"></div>
                             <!-- mailchimp-alerts Start -->
                             <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div>
                                <!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div>
                                <!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div>
                                <!-- mailchimp-error end -->
                             </div>
                             <!-- mailchimp-alerts end -->
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
    
     <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
     <!-- all js files -->
     <script src="{% static 'assets/js/all.js' %}"></script>
     <!-- all plugins -->
     <script src="{% static 'assets/js/custom.js' %}"></script>
     <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>
  </body>
</html>
